In [2]:
#Import Libraries

import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [34]:
driver= webdriver.Chrome('chromedriver.exe')

In [35]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [36]:
numbers= []
names= []
artist = []
Views = []
date = []

for i in range(1,31):
    for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr["+str+"]/td[1]'):
        numbers.append(i.text.replace("\n", ' '))
     
    for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr["+str+"]/td[2]'):
        names.append(i.text.replace("\n", ' ').split("[")[0])
    
    for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr["+str+"]/td[3]'):
        artist.append(i.text.replace("\n", ' '))
        
    for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr["+str+"]/td[4]'):
        Views.append(i.text.replace("\n", ' '))
        
    for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr["+str+"]/td[5]'):
        date.append(i.text.replace("\n", ' '))
        
        
dictionnary = {
   'Rank': numbers[:30], 
   'Name': names[:30], 
   'Artist':artist[:30], 
   'Views':Views[:30],
    'Upload Date': date[:30]
}
top_videos = pd.DataFrame(data=dictionnary) 
top_videos

,Rank,Name,Artist,Views,Upload Date
0,1.,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,8.71,"June 17, 2016"
1,2.,"""Despacito""",Luis Fonsi,7.38,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,5.41,"October 8, 2016"
3,4.,"""Shape of You""",Ed Sheeran,5.34,"January 30, 2017"
4,5.,"""See You Again""",Wiz Khalifa,5.13,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.44,"January 31, 2012"
6,7.,"""Uptown Funk""",Mark Ronson,4.19,"November 19, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.12,"February 27, 2018"
8,9.,"""Bath Song""",Cocomelon – Nursery Rhymes,4.10,"May 2, 2018"
9,10.,"""Gangnam Style""",Psy,4.08,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""",ChuChu TV,3.90,"March 6, 2014"
11,12.,"""Sugar""",Maroon 5,3.48,"January 14, 2015"
12,13.,"""Sorry""",Justin Bieber,3.44,"October 22, 2015"
13,14.,"""Dame Tu Cosita""",El Chombo,3.37,"April 5, 2018"
14,15.,"""Roar""",Katy Perry,3.36,"September 5, 2013"
15,16.,"""Counting Stars""",OneRepublic,3.31,"May 31, 2013"
16,17.,"""Thinking Out Loud""",Ed Sheeran,3.26,"October 7, 2014"
17,18.,"""Dark Horse""",Katy Perry,3.08,"February 20, 2014"
18,19.,"""Faded""",Alan Walker,3.07,"December 3, 2015"
19,20.,"""Shake It Off""",Taylor Swift,3.06,"August 18, 2014"
20,21.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,3.05,"May 24, 2018"
21,22.,"""Lean On""",Major Lazer,3.04,"March 22, 2015"
22,23.,"""Bailando""",Enrique Iglesias,3.04,"April 11, 2014"
23,24.,"""Girls Like You""",Maroon 5,3.04,"May 31, 2018"
24,25.,"""Let Her Go""",Passenger,3.00,"July 25, 2012"
25,26.,"""Mi Gente""",J Balvin,2.92,"June 29, 2017"
26,27.,"""Perfect""",Ed Sheeran,2.86,"November 9, 2017"
27,28.,"""Hello""",Adele,2.84,"October 22, 2015"
28,29.,"""Waka Waka (This Time for Africa)""",Shakira,2.84,"June 4, 2010"
29,30.,"""Axel F""",Crazy Frog,2.82,"June 16, 2009"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
driver= webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get('https://www.bcci.tv/')

In [9]:
driver.get(driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a').get_attribute('href'))

In [22]:
titles= []
series= []
places= []
dates= []
months= []
new= []
times= []

for i in driver.find_elements_by_xpath("//span[@class= 'u-unskewed-text fixture__tournament-label u-truncated']"):
    titles.append(i.text.replace("\n", ""))

for i in driver.find_elements_by_xpath("//strong[@class= 'fixture__name fixture__name--with-margin']"):
    series.append(i.text.replace("\n", ""))

for i in driver.find_elements_by_xpath("//p[@class= 'fixture__additional-info']/span"):
    places.append(i.text.replace("\n", ""))
    
for i in driver.find_elements_by_xpath("//span[@class= 'fixture__date']"):
    dates.append(i.text.replace("\n", ""))

for i in driver.find_elements_by_xpath("//span[@class= 'fixture__month']"):
    months.append(i.text.replace("\n", ""))
    
for i in range(len(dates)):
    new.append(dates[i]+months[i])

for i in driver.find_elements_by_xpath("//span[@class= 'fixture__time']"):
    times.append(i.text.replace("\n", ""))

    
dictionnary = {
   'Match Title': titles, 
   'Series': series, 
   'Place':places, 
   'Date':new,
    'Time': times
}
bcci = pd.DataFrame(data=dictionnary) 
bcci

,Match Title,Series,Place,Date,Time
0,ICC WORLD TEST CHAMPIONSHIP,Final,"The Ageas Bowl, Southampton",18JUNE,15:00 IST
1,ENGLAND V INDIA 2021,1st Test,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
2,ENGLAND V INDIA 2021,2nd Test,"Lord's, London",12AUGUST,15:30 IST
3,ENGLAND V INDIA 2021,3rd Test,"Headingley, Leeds",25AUGUST,15:30 IST
4,ENGLAND V INDIA 2021,4th Test,"The Oval, London",02SEPTEMBER,15:30 IST
5,ENGLAND V INDIA 2021,5th Test,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [36]:
driver= webdriver.Chrome('chromedriver.exe')

In [37]:
driver.get('https://www.guru99.com/')

In [38]:
search= driver.find_element_by_id('gsc-i-id2')
search.send_keys('selenium exception handling')

In [39]:
driver.find_elements_by_xpath("//button[@class= 'gsc-search-button gsc-search-button-v2']")[1].click()

In [40]:
driver.get(driver.find_element_by_xpath("//a[@class= 'gs-title']").get_attribute('href'))

In [47]:
names= []
discriptions= []

for i in range(1):
    for i in driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr["+str+"]/td[1]'):
        names.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr["+str+"]/td[2]'):
        discriptions.append(i.text.replace("\n", ' '))
dictionnary = {
   'Name': names, 
   'Discriptions': discriptions}
selenium_exceptions_types= pd.DataFrame(data=dictionnary)
selenium_exceptions_types.drop(index=selenium_exceptions_types.index[0], axis=0, inplace=True)
selenium_exceptions_types

,Name,Discriptions
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [3]:
driver= webdriver.Chrome('chromedriver.exe')

In [4]:
driver.get('http://statisticstimes.com/')

In [5]:
driver.get(driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]').get_attribute('href'))

In [6]:
driver.get(driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').get_attribute('href'))

In [8]:
rank= []
state= []
GSDP_19_20=[]
GSDP_18_19=[]
share= []
GDP=[]

for i in range(1):
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr["+str+"]/td[1]'):
        rank.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr["+str+"]/td[2]'):
        state.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr["+str+"]/td[3]'):
        GSDP_19_20.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr["+str+"]/td[4]'):
        GSDP_18_19.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr["+str+"]/td[5]'):
        share.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr["+str+"]/td[6]'):
        GDP.append(i.text.replace("\n", ' '))
        
dictionnary = {
   'Rank': rank, 
   'State': state,
   'GSDP_19_20': GSDP_19_20, 
   'GSDP_18_19': GSDP_18_19,
   'Share': share, 
   'GDP($ billion)': GDP}

Indian_State_GDP = pd.DataFrame(data=dictionnary)
Indian_State_GDP

,Rank,State,GSDP_19_20,GSDP_18_19,Share,GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [70]:
driver= webdriver.Chrome('chromedriver.exe')

In [71]:
driver.get('https://github.com/')

In [72]:
driver.get(driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a').get_attribute('href'))

In [40]:
title= []
discr= []
count=[]
langu=[]

#Repository title
try:
    for i in driver.find_elements_by_xpath("//h1[@class= 'h3 lh-condensed']/a"):
        title.append(i.get_attribute('href'))
except NoSuchElementException:
    title.append("-")


#Repository description
try:
    dis= driver.find_elements_by_xpath("//p[@class= 'col-9 color-text-secondary my-1 pr-4']")
    for i in dis:
        discr.append(i.text.replace("\n", ""))
except:
    discr.append('-')

Contributors count
try:
    for i in driver.find_elements_by_xpath("//ul[@class= '_1xgFaf']//li[2]"):
        display.append(i.text.replace("\n", ""))        
except:
    display.append("-")

#Language used
try:
    for i in driver.find_elements_by_xpath("//span[@class= 'd-inline-block ml-0 mr-3']/span[2]"):
        langu.append(i.text.replace("\n", ""))        
except NoSuchElementException:
    langu.append("-")

6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [2]:
driver= webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get('https://www.billboard.com/')

In [4]:
driver.get(driver.find_element_by_xpath('//*[@id="menu-charts-desktop"]/span/span/span[1]/ul/li[1]/a').get_attribute('href'))

In [12]:
name=[]
artist=[]
week=[]
peak=[]
board=[]

for i in driver.find_elements_by_xpath("//span[@class= 'chart-element__information__song text--truncate color--primary']"):
    name.append(i.text.replace("\n", ""))

for i in driver.find_elements_by_xpath("//span[@class= 'chart-element__information__artist text--truncate color--secondary']"):
    artist.append(i.text.replace("\n", ""))
    
for i in driver.find_elements_by_xpath("//div[@class= 'chart-element__meta text--center color--secondary text--last']"):
    week.append(i.text.replace("\n", ""))
    
for i in driver.find_elements_by_xpath("//div[@class= 'chart-element__meta text--center color--secondary text--peak']"):
    peak.append(i.text.replace("\n", ""))

for i in driver.find_elements_by_xpath("//div[@class= 'chart-element__meta text--center color--secondary text--week']"):
    board.append(i.text.replace("\n", ""))
    
dictionnary = {
   'Song Name': name, 
   'Artist Name': artist,
   'LAsr Week Rank': week, 
   'Peak Rank': peak,
   'Weeks on board': board}

top_songs = pd.DataFrame(data=dictionnary)
top_songs

,Song Name,Artist Name,LAsr Week Rank,Peak Rank,Weeks on board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [13]:
driver= webdriver.Chrome('chromedriver.exe')

In [14]:
driver.get('https://www.naukri.com/')

In [15]:
driver.get(driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a').get_attribute('href'))

In [17]:
search= driver.find_element_by_name("qp")
search.clear()
search.send_keys("Data Science")
driver.find_element_by_id("qsbFormBtn").click()

In [32]:
name=[]
post=[]
company=[]
skill=[]

for i in driver.find_elements_by_xpath("//span[@class= 'fl ellipsis']"):
    name.append(i.text.replace("\n", ""))

for i in driver.find_elements_by_xpath("//span[@class= 'ellipsis clr']"):
    post.append(i.text.replace("\n", ""))
    
for i in driver.find_elements_by_xpath("//p[@class= 'highlightable']/a[2]"):
    company.append(i.text.replace("\n", ""))
    
for i in driver.find_elements_by_xpath("//div[@class= 'hireSec highlightable']"):
    skill.append(i.text.replace("\n", ""))
    
dictionnary = {
   'Name': name, 
   'Designation': post,
   'Company': company, 
   'Skill they hire for': skill}

recruiters = pd.DataFrame(data=dictionnary)
recruiters

,Name,Designation,Company,Skill they hire for
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage..."
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ..."
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele..."
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm..."
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science"
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re..."
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar..."
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning..."
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee..."
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine..."
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc..."
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product..."
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne..."
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software..."
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti..."
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ..."
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading..."
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy..."
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn..."
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac..."
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat..."
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ..."
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private..."
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering"
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark..."
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary"
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B..."
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs"
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni..."
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute..."
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,..."
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage..."
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ..."
49,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical..."

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [33]:
driver= webdriver.Chrome('chromedriver.exe')

In [35]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [40]:
name= []
author= []
volumes=[]
publisher=[]
genre= []


for i in range(1):
    for i in driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr["+str+"]/td[2]'):
        name.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr["+str+"]/td[3]'):
        author.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr["+str+"]/td[4]'):
        volumes.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr["+str+"]/td[5]'):
        publisher.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr["+str+"]/td[6]'):
        genre.append(i.text.replace("\n", ' '))
        
dictionnary = {
   'Book Name': name, 
   'Author Name': author,
   'Volumes sold': volumes, 
   'Publisher': publisher,
   'Genre': genre}

books = pd.DataFrame(data=dictionnary)
books

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [3]:
driver= webdriver.Chrome('chromedriver.exe')

In [4]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [20]:
name=[]
span=[]
genre=[]
time=[]
rating=[]
votes=[]

for i in driver.find_elements_by_xpath("//h3[@class= 'lister-item-header']/a"):
    name.append(i.text.replace("\n", ""))

for i in driver.find_elements_by_xpath("//span[@class= 'lister-item-year text-muted unbold']"):
    span.append(i.text.replace("\n", ""))
    
for i in driver.find_elements_by_xpath("//span[@class= 'genre']"):
    genre.append(i.text.replace("\n", ""))
    
for i in driver.find_elements_by_xpath("//span[@class= 'runtime']"):
    time.append(i.text.replace("\n", ""))

for i in driver.find_elements_by_xpath("//div[@class= 'ipl-rating-star small']/span[2]"):
    rating.append(i.text.replace("\n", ""))

for i in driver.find_elements_by_name("nv"):
    votes.append(i.text.replace("\n", ""))
    
dictionnary = {
   'Name': name, 
   'Year Span': span,
   'Genre': genre, 
   'Run Time': time,
    'Ratings': rating,
    'Votes': votes
}


imdb = pd.DataFrame(data=dictionnary)
imdb

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,822,882"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"863,580"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,392"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,646"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,983"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,569"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,059"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,660"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,874"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,360"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [21]:
driver= webdriver.Chrome('chromedriver.exe')

In [23]:
driver.get('https://archive.ics.uci.edu/')

In [24]:
driver.get(driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a').get_attribute('href'))

In [44]:
name= []
data= []
task=[]
attribute_type=[]
instances= []
attribute=[]
year=[]

for i in range(1):
    for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str+"]/td[1]/table/tbody/tr/td[2]/p/b/a'):
        name.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str+"]/td[2]/p'):
        data.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str+"]/td[3]/p'):
        task.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str+"]/td[4]/p'):
        attribute_type.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str+"]/td[5]/p'):
        instances.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str+"]/td[6]/p'):
        attribute.append(i.text.replace("\n", ' '))
    for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str+"]/td[7]/p'):
        year.append(i.text.replace("\n", ' '))
        
dictionnary = {
   'Dataset name': name, 
   'Data Type': data[1:],
   'Task': task[1:], 
   'Attribute type': attribute_type[1:],
   'No. of instances': instances[1:], 
    'No. of attribute': attribute[1:],
   'Year': year[1:]}

github = pd.DataFrame(data=dictionnary)
github

,Dataset name,Data Type,Task,Attribute type,No. of instances,No. of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021